<div class="wrapper">
  <div class="page-header clear-filter" filter-color="red">
    <div class="page-header-image" data-parallax="true" style="background-image: url('img/full-screen-image-3.jpg')">
      <div class="filter"></div>
      <div class="title-container text-center">
        <h1>Title Here</h1>
        <h3>Description here</h3>
        <br />
        <a href="/things" class="btn btn-round btn-neutral btn-fill">Search</a>
      </div>
    </div>
  </div>
</div>
